@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
table, td, tr {
  font-family: 'Noto Sans', sans-serif;
  color: #595959;
  font-weight: 100;
  font-size: 10px;
}

.fklogo{
  color: #d81386;
  font-weight: 500;
  font-size: 18px;
}

p {
  line-height: 120%;
}

a {
  color: #595959;
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #595959;
  text-decoration: none;
}

.black {
  font-weight: bold;
}

.orange {
  color: #fa6a44;
  font-weight: light;
}

hr {
  
  border: solid 0.5px #595959;
}