<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Firma de FK</title>
    <link rel="stylesheet" href="css.css">
    <style>
        td, p, tr{
            border: #acacac 1px dotted;
        }
    </style>
</head>
<body>
    <p>NOTE: please ignore the dots. This wont be shown in final exportation.</p>

    <p>Firmas de First Kontact</p>

    <p>Start of template</p>
    <hr>
    <br><br>
    <!-- Signature START -->
    <table>
        <tr>
            <td></td>
            <td>
                <span class="black name">{{ name }}</span><br />
                {{ position }}
                <hr />
            </td>
            <td></td>
        </tr>
    
        <tr>
            <td valign="top">
                <img src="" alt="Foto {{ name }}" width="112px" height="112px" />
            </td>
            <td valign="top">
    
                <p class="fklogo">First Kontact</p>
    
                <p>{{ email }}<br />
                    MX (664) 615.8606 <span class="orange">Ext.</span>{{ extension }}<br />
                    US (619) 777.6896 <span class="orange">Ext.</span>{{ extension }}<br />
                    {{ phone }}
                </p>
    
                <a href="http://facebook.com/FirstKontactCenter"><img src="img/group-4.png" alt="Facebook" /></a>
                <a href="https://twitter.com/First_Kontact"><img src="img/group.png" alt="Twitter" /></a>
                <a href="http://instagram.com/firstkontactcenter"><img src="img/group-2.png" alt="Instagram" /></a>
                <a href="http://linkedin.com/company/first-kontact-center"><img src="img/group-3.png" alt="Linked In" /></a>
    
                <p>
                    <a href="http://firstkontact.com">www.firstkontact.com</a><br />
                    <a href="#">Nota confidencial</a><br />
                </p>
    
            </td>

            <td>
                <img src="img/group-5.png" alt="First Kontact Logo">
            </td>
        </tr>
    
    </table>
    <!-- Signature END -->
    <br><br>
    <hr>
    <p>End of template</p> 

    <!-- Browser Sync // Ignore this-->
    <script id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
    //]]></script>
</body>
</html>

