<table>
    <tr>
        <td></td>
        <td>
            <span class="black name">{{ name }}</span><br />
            {{ position }}
            <hr />
        </td>
    </tr>

    <tr>
        <td valign="top">
            <img src="http://files.jelp.io/signatures/jelp/{{ image }}.png" alt="Foto {{ name }}" width="112px" height="112px" />
        </td>
        <td valign="top">

            <a href="http://redirect.jelp.io/website"><img src="https://s3.amazonaws.com/miscelaneos/mailsignatures/jelp/jelp.png"
                    alt="Jelp App Logo" /></a>

            <p>{{ email }}<br />
                MX (664) 615.8606 <span class="orange">Ext.</span>{{ extension }}<br />
                US (619) 777.6896 <span class="orange">Ext.</span>{{ extension }}<br />
                {{ phone }}
            </p>

            <a href="http://redirect.jelp.io/facebook"><img src="https://s3.amazonaws.com/miscelaneos/mailsignatures/jelp/fb.png" alt="Facebook" /></a>
            <a href="http://redirect.jelp.io/twitter"><img src="https://s3.amazonaws.com/miscelaneos/mailsignatures/jelp/tw.png" alt="Twitter" /></a>
            <a href="http://redirect.jelp.io/instagram"><img src="https://s3.amazonaws.com/miscelaneos/mailsignatures/jelp/in.png" alt="Instagram" /></a>
            <a href="http://redirect.jelp.io/linkedin"><img src="https://s3.amazonaws.com/miscelaneos/mailsignatures/jelp/li.png" alt="Linked In" /></a>

            <p>
                <a href="http://redirect.jelp.io/website">www.jelp.io</a><br />
                <a href="http://redirect.jelp.app/confidencial">Nota confidencial</a><br />
            </p>

        </td>
    </tr>

</table>